
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4%;
    width: 100%;
    background: grey;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.buttons
{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 95%;
    font-size: 11px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.footer-about, .footer-help, .footer-contact 
{
    display: flex;
    flex-direction: row;
    letter-spacing: 0;

    height: 95%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

.breaker
{
    width: 10%;
}





