#accountContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#accountDash
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30%;
    background: grey;
}

#firstName, #lastName
{
    padding-top: 10%;
    text-align: center;
    font-size: 35px;
    color: white;
}

#lastName
{
    padding-top: 0;
}

#accountCont
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70%;
    background: tomato;
}