h2
{
    color: white;
}

#userInput
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70%;
    width: 75%;
}

.userTextInput
{
    text-align: center;
    width: 40%;
    height: 10%;
    font-size: 30px;
}


#decision
{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 10%;
    justify-content: center;
    text-align: center;
}

#startGame
{
    list-style-type: none;
    color: black;
    cursor: pointer;
    background: lightblue;
    border-radius: 5px;
    width: 20%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 38px;
}